<font size = "6">Pandas equivalent of 10 useful SQL queries</font>

... or Pandas for SQL developers

by [DORIAN LAZAR](https://www.kaggle.com/code/dorianlazar/pandas-equivalent-of-10-useful-sql-queries)

In case you don't know, pandas is a python library for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. The name is derived from the term "panel data", an econometrics term for data sets that include observations over multiple time periods for the same individuals.[1](https://en.wikipedia.org/wiki/Pandas_(software)) Basically, it is a way of working with tables in python. In pandas tables of data are called `DataFrame`s.

As the title suggests, in this article I'll show you the pandas equivalents of some of the most useful SQL queries. This can serve both as an introduction to pandas for those who already know SQL or as a cheat sheet of common pandas operations you may need.

For the examples below I will use this dataset `USvideos.csv` which consists of data about trending YouTube videos in the US. It consists of 40949 rows with 16 columns: video_id,trending_date, title, channel_title, category_id, publish_time, tags, views, likes, dislikes, comment_count, thumbnail_link, comments_disabled, ratings_disabled, video_error_or_removed, description.

In [1]:
import numpy as np
import pandas as pd

# Reading the csv file into a DataFrame
df = pd.read_csv('USvideos.csv')
df

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40944,BZt0qjTWNhw,18.14.06,The Cat Who Caught the Laser,AaronsAnimals,15,2018-05-18T13:00:04.000Z,"aarons animals|""aarons""|""animals""|""cat""|""cats""...",1685609,38160,1385,2657,https://i.ytimg.com/vi/BZt0qjTWNhw/default.jpg,False,False,False,The Cat Who Caught the Laser - Aaron's Animals
40945,1h7KV2sjUWY,18.14.06,True Facts : Ant Mutualism,zefrank1,22,2018-05-18T01:00:06.000Z,[none],1064798,60008,382,3936,https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg,False,False,False,NaN
40946,D6Oy4LfoqsU,18.14.06,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,24,2018-05-18T17:34:22.000Z,I gave safiya nygaard a perfect hair makeover ...,1066451,48068,1032,3992,https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg,False,False,False,I had so much fun transforming Safiyas hair in...
40947,oV0zkMe1K8s,18.14.06,How Black Panther Should Have Ended,How It Should Have Ended,1,2018-05-17T17:00:04.000Z,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",5660813,192957,2846,13088,https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg,False,False,False,How Black Panther Should Have EndedWatch More ...
40948,ooyjaVdt-jA,18.14.06,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,20,2018-05-17T17:09:38.000Z,"call of duty|""cod""|""activision""|""Black Ops 4""",10306119,357079,212976,144795,https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg,False,False,False,Call of Duty: Black Ops 4 Multiplayer raises t...

Pandas operations, by default, don't modify the data frame which you are working with; they just return other data frames which you need to assign to a variable if you want to save the changes. For most examples below we don't change our original data frame, we just show the returned result.

# SELECT

## SELECT
```SQL
SELECT col1, col2, ... FROM table
```

The SELECT statement is used to select columns of data from a table.

To do the same thing in pandas we just have to use the array notation on the data frame and inside the square brackets pass a list with the column names you want to select.

In [2]:
df[['video_id', 'title']]

          video_id                                              title
0      2kyS6SvSYSE                 WE WANT TO TALK ABOUT OUR MARRIAGE
1      1ZAPwfrtAFY  The Trump Presidency: Last Week Tonight with J...
2      5qpjK5DgCt4  Racist Superman | Rudy Mancuso, King Bach & Le...
3      puqaWrEC7tY                   Nickelback Lyrics: Real or Fake?
4      d380meD0W0M                           I Dare You: GOING BALD!?
...            ...                                                ...
40944  BZt0qjTWNhw                       The Cat Who Caught the Laser
40945  1h7KV2sjUWY                         True Facts : Ant Mutualism
40946  D6Oy4LfoqsU  I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...
40947  oV0zkMe1K8s                How Black Panther Should Have Ended
40948  ooyjaVdt-jA  Official Call of Duty®: Black Ops 4 — Multipla...

[40949 rows x 2 columns]

The same thing can be made with the following syntax which makes easier to translate WHERE statements later:

In [3]:
df.loc[:, ['video_id', 'title']]

          video_id                                              title
0      2kyS6SvSYSE                 WE WANT TO TALK ABOUT OUR MARRIAGE
1      1ZAPwfrtAFY  The Trump Presidency: Last Week Tonight with J...
2      5qpjK5DgCt4  Racist Superman | Rudy Mancuso, King Bach & Le...
3      puqaWrEC7tY                   Nickelback Lyrics: Real or Fake?
4      d380meD0W0M                           I Dare You: GOING BALD!?
...            ...                                                ...
40944  BZt0qjTWNhw                       The Cat Who Caught the Laser
40945  1h7KV2sjUWY                         True Facts : Ant Mutualism
40946  D6Oy4LfoqsU  I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...
40947  oV0zkMe1K8s                How Black Panther Should Have Ended
40948  ooyjaVdt-jA  Official Call of Duty®: Black Ops 4 — Multipla...

[40949 rows x 2 columns]

## SELECT DISTINCT

```SQL
SELECT DISTINCT col1, col2, ... FROM table
```

The SELECT DISTINCT statement returns only unique rows form a table.

In a data frame there may be duplicate values. If you want to get only distinct rows (remove duplicates) it is as simple as calling the `.drop_duplicates()` method. Judging based on this method's name you may think that it removes duplicate rows from your initial data frame, but what it actually does is to return a new data frame with duplicate rows removed.

In [4]:
df.loc[:, ['channel_title']].drop_duplicates()

                  channel_title
0                  CaseyNeistat
1               LastWeekTonight
2                  Rudy Mancuso
3         Good Mythical Morning
4                      nigahiga
...                         ...
40366                      HALO
40475            Ben Kronengold
40488           All Def Digital
40540  How It Should Have Ended
40554     Ubisoft North America

[2207 rows x 1 columns]

## SELECT TOP or LIMIT

```SQL
SELECT TOP number col1, col2 FROM table
```
or
```SQL
SELECT col1, col2, ... FROM table LIMIT number
```

The TOP or LIMIT keyword in SQL is used to limit the number of returned rows from the top of the table.

In pandas this is very easy to do with `.head(number)` method. Pandas also has the `.tail(number)` method for showing the rows from the end of data frame.

In [5]:
df.loc[:, ['video_id', 'title']].head(5)

      video_id                                              title
0  2kyS6SvSYSE                 WE WANT TO TALK ABOUT OUR MARRIAGE
1  1ZAPwfrtAFY  The Trump Presidency: Last Week Tonight with J...
2  5qpjK5DgCt4  Racist Superman | Rudy Mancuso, King Bach & Le...
3  puqaWrEC7tY                   Nickelback Lyrics: Real or Fake?
4  d380meD0W0M                           I Dare You: GOING BALD!?

In [6]:
df.loc[:, ['video_id', 'title']].tail(5)

          video_id                                              title
40944  BZt0qjTWNhw                       The Cat Who Caught the Laser
40945  1h7KV2sjUWY                         True Facts : Ant Mutualism
40946  D6Oy4LfoqsU  I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...
40947  oV0zkMe1K8s                How Black Panther Should Have Ended
40948  ooyjaVdt-jA  Official Call of Duty®: Black Ops 4 — Multipla...