# Python Programming - Recursion

## Function calling itself is called Recursion

Syntax:
```Python
# Recursion Syntax
def func():
    func()
```


Function `func` is a recursive function.

## Recursive function example

In [2]:
# Calculate the sum of first n numbers
def Sum(n):
    if n==1:              # base case
        return 1
    return n + Sum(n-1)   # recursive case

In [3]:
Sum(12)

78

### Explanation of the recursive function example

* Recursive case - where we are calling the function
* Base case - where we have definite value, we are not calling the function
  * Base case is the simplest version of the original problem
  * If there is no base case, the function will run infinitely
  * In such case, Python will report an error `RecursionError: maximum recursion depth exceeded`
* In recursion, a problem is solved in terms of problem itself
* Each time a recursive function call itself for a little simpler version of the original problem

In [3]:
def find_fact(n):
    if n==1:
        return 1
    return n*find_fact(n-1)

In [4]:
find_fact(3)

6

In [5]:
find_fact(1)

1

## Recursive Functions

### Print first *n* natural numbers

In [3]:
# Print first n natural numbers (version 1)
def natural_numbers(n, i=1):
    if i==n:
        print(i)
        return
    print(i)
    return natural_numbers(n, i+1)

In [4]:
natural_numbers(5)

1
2
3
4
5

In [5]:
# Print first n natural numbers (version 2)
def natural_numbers_v2(n):
    if n > 0:
        natural_numbers_v2(n-1)
        print(n)

In [6]:
natural_numbers_v2(5)

1
2
3
4
5

### Print first *n* natural numbers in reverse order

In [9]:
# Print first n natural numbers in reverse order
def natural_numbers_reverse(n):
    if n > 0:
        print(n)
        natural_numbers_reverse(n-1)

In [10]:
natural_numbers_reverse(4)

4
3
2
1

### Print first *n* odd natural numbers

In [11]:
# Print first n odd natural numbers
def odd_numbers(n):
    if n > 0:
        odd_numbers(n-1)
        print(2*n-1)

In [12]:
odd_numbers(4)

1
3
5
7

### Print first *n* even natural numbers

In [13]:
# Print first n even natural numbers
def even_numbers(n):
    if n > 0:
        even_numbers(n-1)
        print(2*n)

In [15]:
even_numbers(4)

2
4
6
8

### Print first *n* odd natural numbers in reverse order

In [16]:
# Print first n odd natural numbers in reverse order
def odd_numbers_reverse(n):
    if n > 0:
        print(2*n-1)
        odd_numbers_reverse(n-1)

In [17]:
odd_numbers_reverse(4)

7
5
3
1

### Print first *n* even natural numbers in reverse order

In [19]:
# Print first n even natural numbers in reverse order
def even_numbers_reverse(n):
    if n > 0:
        print(2*n)
        even_numbers_reverse(n-1)

In [20]:
even_numbers_reverse(4)

8
6
4
2

### Calculate the sum of first *n* odd natural numbers

In [37]:
# Calculate the sum of first n odd natural numbers
def sum_odd(n):
    if n == 1:
        return 1
    return 2*n-1 + sum_odd(n-1)

In [36]:
print(sum_odd(3))

9

### Calculate the sum of first *n* even natural numbers

In [38]:
# Calculate the sum of first n even natural numbers
def sum_even(n):
    if n == 1:
        return 2
    return 2*n + sum_even(n-1)

In [39]:
print(sum_even(3))

12

### Calculate the sum of squares of first *n* natural numbers

In [40]:
# Calculate the sum of squares of first n natural numbers
def sum_square(n):
    if n == 1:
        return 1
    return n**2 + sum_square(n-1)

In [41]:
print(sum_square(3))

14