<a href="https://colab.research.google.com/github/stevenkhwun/Python_Notes/blob/main/Vectorization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Vectorization in Python

Based on the Medium article *Say Goodbye to Loops in Python, and Welcome Vectorization!* by Anmol Tomar.

https://medium.com/codex/say-goodbye-to-loops-in-python-and-welcome-vectorization-e4df66615a52


## What is Vectorization?

Vectorization is the technique of implementing (NumPy) array operations on a dataset. In the background, it applies the operations to all the elements of an array or series in one go (unlike a ‘for’ loop that manipulates one row at a time).

## Example 1: Finding the Sum of numbers

In [1]:
# Using Loops
import time
start = time.time()

# iterative sum
total = 0
# iterating through 1.5 million numbers
for item in range(0, 1500000):
  total = total + item

print('Sum is:' + str(total))
end = time.time()

print(end - start)

Sum is:1124999250000
0.4100453853607178

In [3]:
# Using Vectorization
import numpy as np
start = time.time()

# vectorized sum - using numpy for vectorization
# np.arange create the sequence of numbers from 0 to 1499999
print(np.sum(np.arange(1500000)))
end = time.time()

print(end - start)

1124999250000
0.012412548065185547

## Mathematical Operations on DataFrame

In Data Science, while working with Pandas DataFrame, the developers use loops to create new derived columns using mathematical operations.

In the following example, we can see how easily the loops can be replaced with Vectorization.

In [9]:
# Creating a DataFrame having 5 million rows and 4 columns
# filled with random values between 0 and 50
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randint(0,50,size=(5000000,4)), columns=('a','b','c','d'))
print(df.shape)
df.head()

(5000000, 4)

    a   b   c   d
0  21  49   3  49
1  12  43  26  22
2   0   7  37  27
3  29   0  10   7
4  46  47   3  23